@*https://www.claudiobernasconi.ch/2021/03/26/blazor-modal-dialog-component/*@
@using LeDi.Shared2.DatabaseModel;
@inject Microsoft.Extensions.Localization.IStringLocalizer<ModalPenaltyRevokeDialog> Localizer

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
            </div>
            <div class="modal-body">
                <p>@Text</p>
                
                <div class="container">
                    @if (PenaltyList != null && PenaltyList.Count > 0) 
                    {
                        foreach (var aPenalty in PenaltyList)
                        {
                            TblMatchPenalty penalty = aPenalty;
                            <div class="row">
                                <div class="col-12">
                                    <div style="height:100%; min-height:100%;" class="p-1">
                                        <a class="btn btn-primary fs-1" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" @onclick="@(() => RevokePenalty(penalty))" role="button">@penalty.PenaltyName for #@penalty.PlayerNumber</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="row">
                        <div class="col-12">
                            <div style="height:100%; min-height:100%;" class="p-1">
                                <EditForm Model="PenaltyList">
                                    <button type="submit" class="btn btn-primary fs-1" style="height:100%; width:100%;" @onclick=@ModalCancel>@Localizer["Cancel"]</button>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public List<TblMatchPenalty>? PenaltyList { get; set; }

    [Parameter]
    public EventCallback<TblMatchPenalty?> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(null);
    }

    private Task RevokePenalty(TblMatchPenalty penalty)
    {
        return OnClose.InvokeAsync(penalty);
    }
}