@page "/matchcontrol"
@page "/matchcontrol/{SelectedMatchId:int}"
@inject LeDi.Shared.Api Api
@inject NavigationManager NavigationManager
@using LeDi.Shared
@using LeDi.Shared.DtoModel
@using LeDi.Shared.Enum
@using LeDi.WebClient.Components

<PageTitle>LeDi - Referee Match</PageTitle>
@if (MatchList == null && SelectedMatchId == null)
{
    <p><em>Loading Matches...</em></p>
}
else if (SelectedMatchId == null && MatchList != null && MatchList.Count == 0)
{
    <p><em>Currently no matches running.</em></p>
}
else if (SelectedMatchId == null && MatchList != null)
{
    @*Select the Match to referee about*@
    <div class="container-fluid">
        @foreach(var aMatch in MatchList)
        {
            <div class="row">
                <div class="col-12">
                    @if (aMatch.MatchStatus == (int)MatchStatusEnum.Running)
                    {
                        <a class="btn btn-success fs-3" style="display:block; width:100%;" href="/matchcontrol/@aMatch.Id">@aMatch.ScheduledTime - @aMatch.Team1Name vs. @aMatch.Team2Name</a>
                    }
                    else if (aMatch.MatchStatus == (int)MatchStatusEnum.Ended)
                    {
                        <a class="btn btn-secondary fs-3" style="display:block; width:100%;" href="/matchcontrol/@aMatch.Id">@aMatch.ScheduledTime - @aMatch.Team1Name vs. @aMatch.Team2Name</a>
                    }
                    else if (aMatch.MatchStatus == (int)MatchStatusEnum.ReadyToStart)
                    {
                        <a class="btn btn-primary fs-3" style="display:block; width:100%;" href="/matchcontrol/@aMatch.Id">@aMatch.ScheduledTime - @aMatch.Team1Name vs. @aMatch.Team2Name</a>
                    }
                    else {
                        <a class="btn btn-outline-dark fs-3" style="display:block; width:100%;" href="/matchcontrol/@aMatch.Id">@aMatch.ScheduledTime - @aMatch.Team1Name vs. @aMatch.Team2Name</a>
                    }
                    <br />
                </div>
            </div>
        }    
        <a>Legend: Green = Running Match, Gray = Finished Match, Blue = Ready to Start, Other = White</a>
    </div>
}
else if (SelectedMatchId != null)
{
    @if (Match == null)
    {
        <p><em>Loading Match...</em></p>
    }
    else
    {
        <div class="container-fluid h-100" style="height:90vh; min-height:90vh; flex-grow:1;">
            @*Row 1: Time, Scores*@
            <div class="row align-items-start" style="height:20vh; min-height:20vh;">
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <div>
                            <a class="fs-3 text-decoration-none text-reset" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;">@Match.Team1Name</a> 
                            <a class="text-decoration-none text-reset fw-bold" style="font-size:8vh; display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;">@Match.Team1Score</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <div>
                            <a class="text-decoration-none fw-bolder text-reset" style="font-size:8vh; display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;">@(Match.TimeLeftSeconds / 60):@((Match.TimeLeftSeconds % 60).ToString().PadLeft(2,'0'))</a>
                            <a class="fs-3 text-decoration-none text-reset" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;">Halftime:</a>
                            <a class="fs-3 text-decoration-none text-reset" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;">@Match.HalftimeCurrent of @Match.RuleHalftimeCount</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <div>
                            <a class="fs-3 text-decoration-none text-reset" style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;">@Match.Team2Name</a>                            
                            <a class="text-decoration-none text-reset fw-bold" style="font-size:8vh; display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;">@Match.Team2Score</a>
                        </div>
                    </div>
                </div>
            </div>

            @*Row 2: Penalties*@
            <div class="row align-items-start" style="height:15vh; min-height:10vh;">
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <a 
                            id="btnPenaltyTeam1"
                            class="btn btn-danger fs-3" 
                            style="display:block; width:100%; min-height:20%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@PenaltyTeam1Clicked"
                            >
                            Penalty Team 1
                        </a>
                        <a class="text-decoration-none text-reset fs-4">
                            <div class="container">                                
                                @foreach(var aPenalty in Match.Penalties.Where(x => x.TeamId == 0))
                                {
                                    if (aPenalty.PenaltyTime > 0)
                                    {
                                        var timeleft = aPenalty.PenaltyTimeStart - Match.TimeLeftSeconds;

                                        if (timeleft >= -10) // To show the 0:00 some seconds after the penalty is over.
                                        {
                                            if (timeleft < 0)
                                                timeleft = 0;

                                            <div class="row">
                                                <div class="col-2">
                                                    @((timeleft / 60).ToString() + ":" + (timeleft % 60).ToString().PadLeft(2,'0'))
                                                </div>
                                                <div class="col-10">
                                                    Player #@aPenalty.PlayerNumber (@aPenalty.PenaltyName)
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                
                            </div>
                            
                        </a>
                    </div>
                </div>
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        
                    </div>
                </div>
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <a 
                            id="btnPenaltyTeam2"
                            class="btn btn-danger fs-3" 
                            style="display:block; width:100%; min-height:20%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@PenaltyTeam2Clicked"
                            >
                            Penalty Team 2
                        </a>
                        <a class="text-decoration-none text-reset fs-4">@string.Join("<br />", Match.Penalties.Where(x => x.TeamId == 1).Select(x => x.PenaltyName))</a>
                    </div>
                </div>
            </div>

            @*Row 3: Controls*@
            <div class="row align-items-start" style="height:30vh; min-height:30vh;">
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <a 
                            id="btnScoreTeam1"
                            class="btn btn-primary fs-3" 
                            style="display:block; width:100%; min-height:75%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@IncrementCountTeam1Clicked"
                            >
                            Score Team 1
                        </a>                        
                        <a 
                            style="display:block; width:100%; min-height:5%; display:flex; align-items:center; justify-content:center;">
                        </a>
                        <a 
                            id="btnRevokeTeam1"
                            class="btn btn-secondary fs-3" 
                            style="display:block; width:100%; min-height:20%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@DecreaseCountTeam1Clicked"
                            >
                            Revoke Team 1
                        </a>
                    </div>
                </div>
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <a 
                            id="btnStart"
                            class="btn btn-primary fs-3" 
                            style="display:block; width:100%; min-height:47%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@StartMatchClicked"
                            disabled="@StartButtonDisabled" 
                            hidden="@(!PrepareHalftimeButtonDisabled || !CloseMatchButtonDisabled)"
                            >
                            Start/Continue
                        </a>                        
                        <a 
                            style="display:block; width:100%; min-height:6%; display:flex; align-items:center; justify-content:center;"
                            disabled="@StartButtonDisabled" 
                            hidden="@(!PrepareHalftimeButtonDisabled || !CloseMatchButtonDisabled)"
                            >
                        </a>
                        <a 
                            id="btnPause"
                            class="btn btn-outline-primary fs-3" 
                            style="display:block; width:100%; min-height:47%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@PauseMatchClicked"
                            disabled="@StartButtonDisabled" 
                            hidden="@(!PrepareHalftimeButtonDisabled || !CloseMatchButtonDisabled)"
                            >
                            Pause
                        </a>

                        <a 
                            id="btnPrepareHalftime"
                            class="btn btn-secondary fs-3" 
                            style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@PrepareHalftime"
                            disabled="@PrepareHalftimeButtonDisabled" 
                            hidden="@PrepareHalftimeButtonDisabled"
                            >
                            Prepare next halftime
                        </a>

                        <a 
                            id="btnCloseMatch"
                            class="btn btn-dark fs-3" 
                            style="display:block; width:100%; min-height:100%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@CloseMatch"
                            disabled="@CloseMatchButtonDisabled" 
                            hidden="@CloseMatchButtonDisabled"
                            >
                            Close match
                        </a>
                    </div>
                </div>
                <div class="col-4 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">                                                
                        <a 
                            id="btnScoreTeam2"
                            class="btn btn-primary fs-3" 
                            style="display:block; width:100%; min-height:75%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@IncrementCountTeam2Clicked"
                            >
                            Score Team 2
                        </a>
                        <a 
                            style="display:block; width:100%; min-height:5%; display:flex; align-items:center; justify-content:center;">
                        </a>
                        <a 
                            id="btnRevokeTeam2"
                            class="btn btn-secondary fs-3" 
                            style="display:block; width:100%; min-height:20%; display:flex; align-items:center; justify-content:center;" 
                            role="button" 
                            @onclick="@DecreaseCountTeam2Clicked"
                            >
                            Revoke Team 2
                        </a>
                    </div>
                </div>
            </div>

            @*Row 4: Matchlog*@
            
            <div class="row align-items-start" style="height:30vh; min-height:30vh;">
                <div class="col-12 p-0 m-0" style="height:100%; min-height:100%;">
                    <div style="height:100%; min-height:100%;" class="p-1">
                        <a class="fs-2 text-decoration-none text-reset">Match log:</a><br />
                        @if(MatchEventList == null) 
                        {
                            <a>No match events available.</a><br />
                        }
                        else
                        {
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-1">
                                        <b>#</b>
                                    </div>
                                    <div class="col-1">
                                        <b>Matchtime</b>
                                    </div>
                                    <div class="col-2">
                                        <b>Creator</b>
                                    </div>
                                    <div class="col-auto">
                                        <b>Note</b>
                                    </div>
                                </div>
         
                                @foreach(var aEvent in MatchEventList.Reverse<DtoMatchEvent>())
                                {
                                    <div class="row justify-content-start">                    
                                        <div class="col-1">
                                            @aEvent.Event
                                        </div>
                                        <div class="col-1">
                                            @(aEvent.Matchtime/60):@((aEvent.Matchtime%60).ToString().PadLeft(2,'0'))
                                        </div>
                                        <div class="col-2">
                                            @(aEvent.Source ?? "System")
                                        </div>
                                        <div class="col-auto">
                                            @aEvent.Text
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{   
    <p><em>Unable to load Match or Matches...</em></p>
}

@if (PenaltyPlayerDialogOpen)
{
    <ModalPlayernumberDialog 
        Title="Select playernumber"
        Text="Select playernumber the penalty applies to"
        PlayerNumbers=@PenaltyPlayerNumbers
        OnClose="@OnPenaltyPlayerClose"
        ShowTeamButton=true
        >
    </ModalPlayernumberDialog>
}

@if (PenaltyPenaltyDialogOpen)
{
    <ModalPenaltyDialog 
        Title="Select the penalty"
        Text="Select the penalty for the selected player."
        PenaltyList=@PenaltyList
        OnClose="@OnPenaltyPenaltyClose"
        >
    </ModalPenaltyDialog>
}



@code{

    System.Timers.Timer tmrMatchtime = new System.Timers.Timer();
    DtoMatch Match = new DtoMatch(); // currently selected match
    List<DtoMatchEvent>? MatchEventList = null; //List of all match events
    List<DtoMatch>? MatchList = null; // List of all not finished matches
    bool StartButtonDisabled = false; //Is the Start button disabled?
    bool PauseButtonDisabled = true; //Is the Pause button disabled?
    bool PrepareHalftimeButtonDisabled = true; //Is the Prepare Halftime button disabled?
    bool CloseMatchButtonDisabled = true; //The close button is disabled and invisible?
    int LastKnownMatchHash = 0; // Contains a hash of all match values, that can change (except time).
    bool tmrMatchtimeElapsedRegistered = false; //Is the Elapsed Event of tmrMatchtime already registered?    

    bool PenaltyPlayerDialogOpen = false; // Is the modal dialog for playernumber for penalties of team 1 opened?
    bool PenaltyPenaltyDialogOpen = false; //Is the modal dialog for the penalty for penalties of team 1 opened?
    int PenaltyTeamId = -1; //The ID (0 = Team 1, 1 = Team 2) of the team the currently selecting penalty is for.
    int PenaltyPlayerNumber = -1; //The Playernumber that get the penalty
    List<int> PenaltyPlayerNumbers = new List<int>(); // The playernumbers of a team. Null or empty in case the number should be entered in the modal dialog.
    List<string> PenaltyList = new List<string>(); // The list of penalties the referee can choose for the previously selected player (or team)

    [Parameter]
    public int? SelectedMatchId { get; set; }

    private async void IncrementCountTeam1Clicked()
    {
        await Api.SetMatchGoalAsync(Match.Id, 0, 1);
        await LoadMatch();
    }
    private async void DecreaseCountTeam1Clicked()
    {
        await Api.SetMatchGoalAsync(Match.Id, 0, -1);
        await LoadMatch();
    }

    private async void IncrementCountTeam2Clicked()
    {
        await Api.SetMatchGoalAsync(Match.Id, 1, 1);
        await LoadMatch();
    }
    private async void DecreaseCountTeam2Clicked()
    {
        await Api.SetMatchGoalAsync(Match.Id, 1, -1);
        await LoadMatch();
    }

    private async void PenaltyTeam1Clicked()
    {
        PenaltyTeamId = 0;
        //PenaltyPlayerNumbers = ... //todo when playernumbers are implemented
        PenaltyPlayerDialogOpen = true;
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async void PenaltyTeam2Clicked()
    {
        PenaltyTeamId = 1;
        //PenaltyPlayerNumbers = ... //todo when playernumbers are implemented
        PenaltyPlayerDialogOpen = true;
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async void OnPenaltyPlayerClose(int playerId)
    {
        PenaltyPlayerDialogOpen = false;

        if (playerId >= 0)
        {
            PenaltyPlayerNumber = playerId;

            // 0 = the penalty is for the team. All others are for the given player number.
            PenaltyList = Match.RulePenaltyList
                            .SelectMany(x => x.Display)
                            .Where(x => x.Language == "EN")
                            .Select(x => x.Text)
                            .ToList();


            //Ask for the penalty
            PenaltyPenaltyDialogOpen = true;
        }
        else
        {   
            PenaltyTeamId = -1; // Reset penaltyId for the next penalty
        }

        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async void OnPenaltyPenaltyClose(string penalty)
    {
        var languageCode = "EN"; // This will be the users language code when localization is being implemented
        var customPenalty = false;

        // Get the penalty from the rule list
        var penaltyObj = Match.RulePenaltyList.SingleOrDefault(x => x.Display.Any(y => y.Language == languageCode && y.Text == penalty));
        if (penaltyObj == null)
        {
            Console.WriteLine("The selected penalty is cannot be identified by the text \"" + penalty + "\". Expecting it is a custom penalty. Time penalties need to be added seperately.");
            customPenalty = true;
        }

        // Create the new penalty object
        var newPenalty = new DtoMatchPenalty();
        newPenalty.PlayerNumber = PenaltyPlayerNumber;
        newPenalty.PenaltyTimeStart = (Match.RuleHalftimeLength ?? 0) - Match.TimeLeftSeconds;
        newPenalty.Note = string.Format("Penalty \"{0}\" given to player number {1} of {2}", penalty, PenaltyPlayerNumber, (PenaltyTeamId == 0 ? Match.Team1Name : Match.Team2Name));
        newPenalty.TeamId = PenaltyTeamId;
        newPenalty.Timestamp = DateTime.Now;

        if (!customPenalty && penaltyObj != null) // the null check is not required but the null check compiler wants it.
        {
            newPenalty.PenaltyTime = penaltyObj.PenaltySeconds;
            newPenalty.PenaltyName = penaltyObj.Display.Single(x => x.Language == "EN").Text; // The internal name is always the English name
        }
        else
        {
            newPenalty.PenaltyName = penalty;
        }

        // it is a team penalty
        if (PenaltyPlayerNumber == 0) 
        {
            newPenalty.Note = string.Format("Penalty \"{0}\" given to team {1}", penalty, (PenaltyTeamId == 0 ? Match.Team1Name : Match.Team2Name));
        }

        // Register the penalty
        await Api.AddMatchPenalty(Match.Id, newPenalty);

        // Reset all values and hide dialog
        PenaltyPlayerNumber = -1;
        PenaltyTeamId = -1; 
        PenaltyPenaltyDialogOpen = false;

        // Reload match details (and UI)
        await LoadMatch();
    }

    /// <summary>
    /// Executed when the Pause button was clicked
    /// </summary>
    private async void PauseMatchClicked()
    {
        await Api.ControlMatchtimeAsync(Match.Id, "stop");

        // Show/hide buttons
        StartButtonDisabled = false;
        PauseButtonDisabled = true;

        await LoadMatchEvents();
    }

    /// <summary>
    /// Executed when the Start button was clicked
    /// </summary>
    private async void StartMatchClicked()
    {
        // Show/hide buttons
        StartButtonDisabled = true;
        PauseButtonDisabled = false;

        // Update match object to the current status
        Match = await Api.GetMatchFullAsync(Match.Id) ?? Match;

        // Set the LastKnownMatchHash to the current status
        var matchCore = await Api.GetMatchCoreAsync(Match.Id);
        if (matchCore == null)
        {
            Console.WriteLine("Failed to get MatchCore");
            return;
        }
        LastKnownMatchHash = matchCore.PropertyHash;

        // Send start to the server
        await Api.ControlMatchtimeAsync(Match.Id, "start");

        // Fix the first second gap. It is just a local visual thing.
        if (Match.TimeLeftSeconds > 0)
            Match.TimeLeftSeconds--;

        // Reload match details
        await LoadMatch();
    }

    private async void tmrMatchtime_Elapsed(object? sender, EventArgs e)
    {
        // Only run if a match was selected
        if (SelectedMatchId == null || SelectedMatchId == 0)
            return;

        // Get the time left and the hash of all match properties
        var matchCore = await Api.GetMatchCoreAsync(Match.Id);

        // If the core value query failed, cancel.
        if (matchCore == null) {
            Console.WriteLine("Failed to get MatchCore");
            return;
        }

        // Update match object in case the hash is different
        if (LastKnownMatchHash != matchCore.PropertyHash)
        {
            Console.WriteLine("New Hash is different. Refreshing all Match infos...");
            var newMatchInfo = await Api.GetMatchAsync(Match.Id);
            if (newMatchInfo != null) {
                Console.WriteLine("Updated Match infos.");
                
                // Update only the fields but not the whole Match object to do not flush the rules
                Match.HalftimeCurrent = newMatchInfo.HalftimeCurrent;
                Match.RuleHalftimeCount = newMatchInfo.RuleHalftimeCount;
                Match.MatchStatus = newMatchInfo.MatchStatus;
                Match.TimeLeftSeconds = newMatchInfo.TimeLeftSeconds;

                LastKnownMatchHash = matchCore.PropertyHash;
            }            
            await LoadMatchEvents();
        }

        // If local timer says, time is over check verify before stopping
        if (Match.TimeLeftSeconds == 0)
        {
            // Set the current time left to the server data
            Match.TimeLeftSeconds = matchCore.TimeLeftSeconds;

            // Stop Timer only if the Server based timer is done.
            if (Match.TimeLeftSeconds == 0)
            {
                tmrMatchtime.Stop();
                PauseButtonDisabled = true;

                // If this is not the last halftime, show the start button to start the next halftime
                if (Match.HalftimeCurrent != Match.RuleHalftimeCount)
                {
                    StartButtonDisabled = false;
                    PrepareHalftimeButtonDisabled = false;
                    CloseMatchButtonDisabled = true;
                }
                else
                {
                    StartButtonDisabled = true;
                    PrepareHalftimeButtonDisabled = true;
                    CloseMatchButtonDisabled = false;
                }

                await LoadMatchEvents();
            }
        }
        else // update local timer
        {
            //To count the seconds more smoothly, only correct the seconds, if the diff is more than 1 second
            var serverTimeLeft = matchCore.TimeLeftSeconds;
            if (Match.TimeLeftSeconds - serverTimeLeft > 1 ||
                Match.TimeLeftSeconds - serverTimeLeft < 1)
            {
                Match.TimeLeftSeconds = serverTimeLeft;
            }
            else if (Match.TimeLeftSeconds > 0)
            {                
                Match.TimeLeftSeconds--;
            }
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadMatch();

        if (!tmrMatchtime.Enabled)
            tmrMatchtime.Start();

        await base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        if (SelectedMatchId == null)
        {
            await LoadMatchList();
        }
        else
        {
            await LoadMatch();
        }

        // Needs to be initialized at the load of the page to also show running matches
        if (tmrMatchtimeElapsedRegistered == false)
        {
            tmrMatchtime.Interval = 1000;
            tmrMatchtime.Elapsed += tmrMatchtime_Elapsed;
            tmrMatchtimeElapsedRegistered = true;
        }

        tmrMatchtime.Start();
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async Task LoadMatchList()
    {
        var matchList = await Api.GetMatchListAsync();
        if (matchList.Count == 0)
        {
            //Create emtpy list
            MatchList = new List<DtoMatch>();
            return;
        }
        MatchList = matchList.Where(x => x.MatchStatus != (int)MatchStatusEnum.Undefined && x.MatchStatus != (int)MatchStatusEnum.Canceled && x.MatchStatus != (int)MatchStatusEnum.Closed).ToList() ?? new List<DtoMatch>();
    }

    private async Task LoadMatch()
    {
        if (SelectedMatchId == null)
            return;

        Match = (await Api.GetMatchFullAsync(SelectedMatchId.Value)) ?? new DtoMatch() { Id = 0 };
        if (Match.Id == 0)
            return;

        if (Match.MatchStatus >= (int)LeDi.Shared.Enum.MatchStatusEnum.Running)
        {
            StartButtonDisabled = true;            
            PauseButtonDisabled = false;
        }
        else
        {
            StartButtonDisabled = false;
            PauseButtonDisabled = true;
        }

        // Update the Match Events
        await LoadMatchEvents();

        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async Task LoadMatchEvents()
    {
        if (SelectedMatchId == null)
            return;

        MatchEventList = await Api.GetMatchEvents(SelectedMatchId.Value);

        await InvokeAsync(() => { StateHasChanged(); });
    }

    /// <summary>
    /// Executed, when the prepare halftime button is clicked.
    /// </summary>
    private async Task PrepareHalftime()
    {
        if (Match == null)
            return;

        if (SelectedMatchId == null)
            return;

        // only if the current halftime is over
        if (Match.TimeLeftSeconds != 0)
        {
            PrepareHalftimeButtonDisabled = true;
            return;
        }

        //Check if there is another halftime
        if (Match.HalftimeCurrent < Match.RuleHalftimeCount)
        {
            PrepareHalftimeButtonDisabled = true;

            await Api.SetMatchHalftimeNext(SelectedMatchId.Value);
            await LoadMatch();

            await InvokeAsync(() => { StateHasChanged(); });
        }
    }

    /// <summary>
    /// Executed when the close button is clicked
    /// </summary>
    private async Task CloseMatch()
    {
        if (Match == null)
            return;

        if (SelectedMatchId == null)
            return;

        // The last halftime must be over
        if (Match.HalftimeCurrent != Match.RuleHalftimeCount && Match.TimeLeftSeconds == 0)
            return;

        await Api.SetMatchStatusAsync(Match.Id, (int)MatchStatusEnum.Closed);
        CloseMatchButtonDisabled = true;

        // Go back to the match control page
        SelectedMatchId = null;
        await LoadMatchList();
        NavigationManager.NavigateTo("matchcontrol");
    }
}