@page "/matchplanning"
@using LeDi.Shared.DtoModel
@inject LeDi.Shared.Api Api
@inject Microsoft.Extensions.Localization.IStringLocalizer<MatchPlanning> Localizer

<PageTitle>LeDi - @Localizer["MatchPlanning"]</PageTitle>


@if (MatchList == null)
{
    <p><em>@Localizer["Loading"]</em></p>
}
else
{
    <h1>@Localizer["CurrentlyPlannedMatches"]</h1>
    <a href="/matchadd">@Localizer["AddNewMatch"]</a>

    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Team1"]</th>
                <th>@Localizer["Team2"]</th>
                <th>@Localizer["Score"]</th>
                <th>@Localizer["ScheduledTime"]</th>
                <th>@Localizer["Status"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in MatchList.Where(x => x.ScheduledTime >= DateTime.Now.Subtract(new TimeSpan(1, 0, 0))))
            {
                <tr>
                    <td>
                        @match.Team1Name
                    </td>
                    <td>
                        @match.Team2Name
                    </td>
                    <td>@match.Team1Score:@match.Team2Score</td>
                    <td>@match.ScheduledTime</td>
                    <td>@(Enum.GetName(typeof(LeDi.Shared.Enum.MatchStatusEnum), (match.MatchStatus.HasValue ? match.MatchStatus.Value : 0)))</td>
                    <td><a href="/match/@match.Id">@Localizer["Edit"]</a></td>
                </tr>
            }
        </tbody>
    </table>

    <br /><br /><br />
    <h1>@Localizer["FinishedMatches"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Team1"]</th>
                <th>@Localizer["Team2"]</th>
                <th>@Localizer["Score"]</th>
                <th>@Localizer["ScheduledTime"]</th>
                <th>@Localizer["Status"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in MatchList.Where(x => x.ScheduledTime < DateTime.Now.Subtract(new TimeSpan(1, 0, 0)) || x.ScheduledTime == null))
            {
                <tr>
                    <td>
                        @match.Team1Name
                    </td>
                    <td>
                        @match.Team2Name
                    </td>
                    <td>@match.Team1Score:@match.Team2Score</td>
                    <td>@match.ScheduledTime</td>
                    <td>@(Enum.GetName(typeof(LeDi.Shared.Enum.MatchStatusEnum), (match.MatchStatus.HasValue ? match.MatchStatus.Value : 0)))</td>
                    <td><a href="/match/@match.Id">@Localizer["Edit"]</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly NLog.Logger Logger = NLog.LogManager.GetCurrentClassLogger();
    private List<DtoMatch> MatchList = new List<DtoMatch>();

    protected override async Task OnInitializedAsync()
    {
        MatchList = await Api.GetMatchListAsync();
        
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private string SecondsToTime(int seconds)
    {
        return ((seconds / 60).ToString("D2") + ":" + (seconds % 60).ToString("D2"));
    }
}
