@page "/settingsdevice/{id}"

<PageTitle>Device Settings</PageTitle>

@using Tiwaz.Shared.DtoModel;
@using Tiwaz.WebClient.Data
@inject Tiwaz.Shared.Api Api
@inject IJSRuntime JSRuntime

<h1>Device Settings</h1>

@if (DeviceSettingList == null)
{
    <p><em>Loading Device Settings...</em></p>
}
else
{
    <p>The following settings are configured for device @Id:</p>
    <EditForm Model="@DeviceSettingList" OnValidSubmit="@SaveSettings">
        @*<DataAnnotationsValidator />
        <ValidationSummary />*@

        <table class="table">
            <thead>
                <tr>
                    <th>Setting</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var aSetting in DeviceSettingList)
                {
                    <tr>
                        <td>
                            <a>@aSetting.Name</a>
                            @*<InputText id="txtSetting@aSetting.Name" type="text" class="form-control" @bind-Value="@aSetting.Name" />*@
                            @*<ValidationMessage For="@(() => aSetting.Name)" />*@
                        </td>
                        <td>
                            <InputText id="txtSetting@aSetting.Value" type="text" class="form-control" @bind-Value="@aSetting.Value" />                        
                            @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                        </td>
                        <td>
                            <a href="/SettingsDeviceSettingDelete/@Id/@aSetting.Name" class="text-decoration-none">🗑</a>
                        </td>
                    </tr>
                }      
            </tbody>
        </table>    
        
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </EditForm>
    <br /><br />
    <h3>Add a new setting:</h3>
    <EditForm Model="@NewSetting" OnValidSubmit="@SaveNewSetting">
        @*<DataAnnotationsValidator />
        <ValidationSummary />*@

        <a>Setting Name</a>
        <InputText id="txtNewSettingName" type="text" class="form-control" @bind-Value="@NewSetting.Name" />
        @*<ValidationMessage For="@(() => aSetting.Name)" />*@
        <br />

        <a>Setting Value</a>
        <InputText id="txtNewSettingValue" type="text" class="form-control" @bind-Value="@NewSetting.Value" />
        @*<ValidationMessage For="@(() => aSetting.Value)" />*@
        <br />
        
        <button class="btn btn-primary" type="submit">Add Setting</button>
    </EditForm>
    <br /><br />
    <h3>Send command to device:</h3>
    <EditForm Model="@selectedDeviceCommand" OnValidSubmit="@ExecuteDeviceCommand">
        <InputSelect @bind-Value="selectedDeviceCommand" class="form-control">
            <option value="showareas">Show Areas</option>
            <option value="showtestpattern">Show Testpattern</option>            
            <option value="showcolortest">Show Colortest (60s)</option>
            <option value="showfullcolortest">Show Fullcolortest (60s)</option>
            <option value="showclock">Show current Time</option>
            <option value="idlebar">Show Idlebar</option>
            <option value="calibratefps">Calibration Test (~10s)</option>
            <option value="calibratebrightness">Brightness Test</option>
            <option value="reload">Reload Display Settings</option>
            <option value=""></option>
            <option value="">DANGER ZONE:</option>
            <option value="restartsoft">Restart Display Service</option>
            <option value="restarthard">Restart Hardware (MAY ALSO AFFECT SERVER AND WEBCLIENT IF RUNNING ON SAME DEVICE!)</option>
            <option value="shutdown">Shutdown Hardware (MAY ALSO AFFECT SERVER AND WEBCLIENT IF RUNNING ON SAME DEVICE!)</option>
        </InputSelect>
        <button class="btn btn-primary" type="submit">Send Command</button>
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; } = "";

    private List<DtoDeviceSetting>? DeviceSettingList;
    private DtoDeviceSetting NewSetting = new DtoDeviceSetting("", "", "");
    private string selectedDeviceCommand = "";

    protected override async Task OnInitializedAsync()
    {
        DeviceSettingList = await Api.GetDeviceSettingsAsync(Id);
        NewSetting = new DtoDeviceSetting(Id, "", "");
    }

    private async void SaveSettings()
    {
        if (DeviceSettingList == null) 
        {   
            await JSRuntime.InvokeVoidAsync("alert", "No DeviceSettings to save.");
            return;
        }

        // Get the current serversettings to check which settings changed
        var currentServerSettings = await Api.GetDeviceSettingsAsync(Id);
        if (currentServerSettings == null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Cannot get current settings from server.");
            return;
        }

        // Update all changed settings
        foreach(var aServerSet in currentServerSettings)
        {
            var locSet = DeviceSettingList.SingleOrDefault(x => x.Name == aServerSet.Name);

            if (locSet == null)
                continue;

            if (locSet.Value != aServerSet.Value)
            {
                Console.WriteLine("Save setting {0} to value {1}", locSet.Name, locSet.Value);
                await Api.SetDeviceSettingAsync(Id, locSet);
            }
        }

        //Reload Device settings
        DeviceSettingList = await Api.GetDeviceSettingsAsync(Id);
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async void SaveNewSetting()
    {
        await Api.SetDeviceSettingAsync(Id, NewSetting);

        DeviceSettingList = await Api.GetDeviceSettingsAsync(Id);
        NewSetting = new DtoDeviceSetting(Id, "", "");

        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async void ExecuteDeviceCommand()
    {
        if (string.IsNullOrWhiteSpace(selectedDeviceCommand))
            return;

        await Api.SetDeviceCommand(Id, selectedDeviceCommand, "");
        selectedDeviceCommand = "";

        await InvokeAsync(() => { StateHasChanged(); });
    }
}
