@page "/Sportart"
@using Tiwaz.Shared.DtoModel
@inject Tiwaz.Shared.Api Api
@inject NavigationManager NavigationManager

<PageTitle>Select type of sport</PageTitle>
@if (newMatch == null)
{
    <p><em>Loading Data...</em></p>
}
else
{
    <EditForm Model="@newMatch" OnValidSubmit="@SaveMatch">
    @*    <DataAnnotationsValidator />
        <ValidationSummary />*@

        <a>Select type of sport</a>

        <select name=" " onchange="@ShowFields"> 
            <option value="">  </option>
            <option value="UWH">Unterwasserhockey</option>
            <option value="Handball">Handball</option>
        </select>
        <br /> 
        <a hidden="@Hidden">Team 1:</a>
        <InputText id="txtTeamName1" class="form-control" type="text" hidden="@Hidden" @bind-Value="@newMatch.Team1Name"/>
        <a hidden="@Hidden"> Teams 2:</a>
        <InputText id="txtTeamName2" class="form-control" type="text" hidden="@Hidden" @bind-Value="@newMatch.Team2Name"/>
        <a hidden="@Hidden"> Number of halftimes:</a>
       @* <InputText id="txtHalfTimeCount" class="form-control" type="text" hidden="@Hidden" />*@
        <a hidden="@Hidden"> Length of a halftime in minutes:</a>
        <InputNumber id="txtHalfTimeTime" class="form-control" type="text" hidden="@Hidden" @bind-Value="@newMatch.TimeLeftSeconds"/>
        <br />
   
        <button class="btn btn-primary" type="button" @onclick="@SaveStartMatch">Save and Start</button>
        <button class="btn btn-primary" type="submit">Save</button>

    
    </EditForm>
}

@code{

    bool Hidden = true;
    DtoMatch newMatch = new DtoMatch()
        {
            Team1Name = "Team1",
            Team2Name = "Team2",
            TimeLeftSeconds = 10
    };
    //string teamName1 = "Team1";
    //string teamName2 = "Team2";
    //int halfTimeCount;
    //int halfTimeTime;

    private void ShowFields( ChangeEventArgs e)
    {

        if (e.Value == null)
        {
            return;
        }
        else if (e.Value.ToString() == "UWH")
        {
            Hidden = false;
        }
        else
        {
            Hidden = true;
        }


    }
    
    private async void SaveMatch()
    {

        newMatch.TimeLeftSeconds = newMatch.TimeLeftSeconds*60;

        await Api.AddMatchAsync(newMatch);
        newMatch = new DtoMatch()
            {
                Team1Name = "Team1",
                Team2Name = "Team2",
                TimeLeftSeconds = 10
            };
    }
    
    private void SaveStartMatch()
    {
        SaveMatch();
        NavigationManager.NavigateTo("/MatchControl");

    }
}