@page "/matchsummary"
@using LeDi.Shared2.DatabaseModel;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.Extensions.Localization.IStringLocalizer<MatchPrepare> Localizer

<PageTitle>LeDi - @Localizer["MatchSummary"]</PageTitle>

<h1>@Localizer["Counter"]</h1>

<p role="status">@Localizer["CurrentCount"] @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Localizer["ClickMe"]</button>

@code {

    /// <summary>
    /// Contains the roles a user has
    /// </summary>
    private TblUserRole? AuthenticatedUserRole { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
