@page "/matchplanning"
@using LeDi.Server2.DatabaseModel;
@using LeDi.Shared2.Enum;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<MatchPlanning> Localizer

<PageTitle>LeDi - @Localizer["MatchPlanning"]</PageTitle>


@if (MatchList == null)
{
    <p><em>@Localizer["Loading"]</em></p>
}
else
{
    <AuthorizeView Roles="Att-CanMatchAdd,Att-IsAdmin">
        <Authorized>
            <h1>@Localizer["CurrentlyPlannedMatches"]</h1>
            <a href="/matchadd" class="fs-4 btn btn-primary"><i class="fas fa-arrow-right" aria-hidden="true"></i> @Localizer["AddNewMatch"]</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>@Localizer["Team1"]</th>
                        <th>@Localizer["Team2"]</th>
                        <th>@Localizer["Score"]</th>
                        <th>@Localizer["ScheduledTime"]</th>
                        <th>@Localizer["Status"]</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in MatchList.Where(x => new int[]{
                        (int)MatchStatusEnum.Canceled,
                        (int)MatchStatusEnum.Closed,
                        (int)MatchStatusEnum.Ended}.Contains(x.MatchStatus) == false))
                    {
                        <tr>
                            <td>
                                @match.Team1Name
                            </td>
                            <td>
                                @match.Team2Name
                            </td>
                            <td>@match.Team1Score:@match.Team2Score</td>
                            <td>@match.ScheduledTime</td>
                            <td>
                                @switch (match.MatchStatus)
                                {
                                    case 0:
                                        @Localizer["Unknown"]
                                        break;
                                    case 10:
                                        @Localizer["Planned"]
                                        break;
                                    case 20:
                                        @Localizer["ReadyToStart"]
                                        break;
                                    case 30:
                                        @Localizer["Running"]
                                        break;
                                    case 39:
                                        @Localizer["PeriodEnded"]
                                        break;
                                    case 40:
                                        @Localizer["Ended"]
                                        break;
                                    case 100:
                                        @Localizer["Closed"]
                                        break;
                                    case 200:
                                        @Localizer["Canceled"]
                                        break;
                                    case 210:
                                        @Localizer["Stopped"]
                                        break;
                                    default:
                                        @match.MatchStatus
                                        break;
                                }
                            </td>
                            <td>
                                <AuthorizeView Roles="Att-CanMatchEdit,Att-IsAdmin" Context="y">
                                    <Authorized>
                                        <a href="/match/@match.Id" class="btn btn-secondary"><span class="oi oi-pencil" aria-hidden="true"></span> @Localizer["Edit"]</a>
                                    </Authorized>
                                </AuthorizeView>
                            </td>
                            <td>
                                <AuthorizeView Roles="Att-CanMatchStart,Att-IsAdmin" Context="y">
                                    <Authorized>
                                        <a href="/matchcontrol/@match.Id" class="btn btn-primary"><span class="oi oi-pencil" aria-hidden="true"></span> @Localizer["Referee"]</a>
                                    </Authorized>
                                </AuthorizeView>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br /><br /><br />
            <h1>@Localizer["FinishedMatches"]</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>@Localizer["Team1"]</th>
                        <th>@Localizer["Team2"]</th>
                        <th>@Localizer["Score"]</th>
                        <th>@Localizer["ScheduledTime"]</th>
                        <th>@Localizer["Status"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @*Get all Canceld, Closed or Ended matches*@
                    @foreach (var match in MatchList.Where(x => new int[]{
                            (int)MatchStatusEnum.Canceled,
                            (int)MatchStatusEnum.Closed,
                            (int)MatchStatusEnum.Ended}.Contains(x.MatchStatus)))
                    {
                        <tr>
                            <td>
                                @match.Team1Name
                            </td>
                            <td>
                                @match.Team2Name
                            </td>
                            <td>@match.Team1Score:@match.Team2Score</td>
                            <td>@match.ScheduledTime</td>
                            <td>@(Enum.GetName(typeof(MatchStatusEnum), match.MatchStatus))</td>
                            <td><a href="/match/@match.Id">@Localizer["Edit"]</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </Authorized>
        <NotAuthorized>
            <p>@Localizer["NoPermissions"]</p>
        </NotAuthorized>
    </AuthorizeView>
}