@page "/resultlist"
@using LeDi.Server2.Data;
@using LeDi.Shared2.DatabaseModel;
@using LeDi.Shared2.Enum
@using LeDi.Server2.Components
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<ResultList> Localizer
@inject LeDi.Server2.Data.MatchManagerService MatchManager

<PageTitle>LeDi - @Localizer["PageTitle"]</PageTitle>

@if (MatchList != null)
{
    <table class ="table">
        <thead>
            <tr>
                <th></th>
                <th class="text-end">@Localizer["Team1"]</th>
                <th class="text-center"></th>
                <th>@Localizer["Team2"]</th>
                <th>@Localizer["ScheduledTime"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var aMatch in MatchList) {
                <tr>
                    <td>
                        @*Placeholder for "Name" of a match like "Semi-Final", "Final", "No. 12" or whatever*@
                    </td>
                    <td class="text-end @(aMatch.Team1Score > aMatch.Team2Score ? "fw-bold" : "")">@aMatch.Team1Name</td>
                    <td class="text-center"><div class="d-inline @(aMatch.Team1Score > aMatch.Team2Score ? "fw-bold" : "")">@aMatch.Team1Score</div> : <div class="d-inline @(aMatch.Team1Score < aMatch.Team2Score ? "fw-bold" : "")">@aMatch.Team2Score</div></td>
                    <td class="@(aMatch.Team1Score < aMatch.Team2Score ? "fw-bold" : "")">@aMatch.Team2Name</td>
                    <td>@aMatch.ScheduledTime</td>
                </tr>
            }
        </tbody>
    </table>    
}
else 
{
    <a>@Localizer["NoPreviousMatches"]</a>
}