@page "/settingsdevicedelete/{id}"
@using LeDi.Server2.Data
@using LeDi.Server2.DatabaseModel;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<SettingsDeviceDelete> Localizer

<PageTitle>LeDi - @Localizer["ConfirmDeletionDevice"]</PageTitle>


<h1>@Localizer["ConfirmDeletionDevice"]</h1>

@if (ToDeleteDevice == null)
{
    <p><em>@Localizer["LoadingDevice"]</em></p>
}
else
{
    <AuthorizeView Roles="Att-CanDeviceManage,Att-IsAdmin">
        <Authorized>
            <p>@Localizer["ConfirmTheDeletionDevice"]@Id:</p>
            <EditForm Model="@ToDeleteDevice" OnValidSubmit="@ConfirmDelete" Context="x">

                <button class="btn btn-warning" type="submit">@Localizer["ConfirmDelete"]</button>
                <button class="btn btn-danger" type="button" @onclick="CancelDelete">@Localizer["CancelDelete"]</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p>@Localizer["NoPermissions"]</p>
        </NotAuthorized>
    </AuthorizeView>
}
}

@code {
    [Parameter]
    public string Id { get; set; } = "";

    private readonly NLog.Logger Logger = NLog.LogManager.GetCurrentClassLogger();
    private TblDevice? ToDeleteDevice;

    protected override async Task OnInitializedAsync()
    {
        ToDeleteDevice = await DataHandler.GetDeviceAsync(Id);
    }

    private void CancelDelete()
    {
        Logger.Trace("Cancel clicked.");
        NavigationManager.NavigateTo("/settings");
    }

    private async void ConfirmDelete()
    {
        Logger.Trace("Confirm clicked");
        if (ToDeleteDevice != null)
        {
            if (!(await DataHandler.RemoveDeviceAsync(ToDeleteDevice.DeviceId)))
            {
                Logger.Error("Failed to delete device {0}", ToDeleteDevice.DeviceId);
            }
        }

        NavigationManager.NavigateTo("/settings");
    }
}
