@page "/settingsdevicesettingdelete/{deviceId}/{settingName}"
@using LeDi.Server2.Data
@using LeDi.Server2.DatabaseModel
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<SettingsDeviceSettingDelete> Localizer

<PageTitle>LeDi - @Localizer["ConfirmDeletionDevice"]</PageTitle>


<h1>@Localizer["ConfirmDeletionDeviceSetting"]</h1>

@if (ToDeleteDeviceSetting == null)
{
    <p><em>@Localizer["LoadingDevice"]</em></p>
}
else
{
    <AuthorizeView Roles="Att-CanDeviceManage,Att-IsAdmin">
        <Authorized>
            <p>@Localizer["ConfirmTheDeletionDeviceSetting"]@settingName:</p>
            <EditForm Model="@ToDeleteDeviceSetting" OnValidSubmit="@ConfirmDelete" OnInvalidSubmit="@CancelDelete" Context="x">

                <button class="btn btn-warning" type="submit">@Localizer["ConfirmDelete"]</button>
                <button class="btn btn-danger" type="button" @onclick="CancelDelete">@Localizer["CancelDelete"]</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p>@Localizer["NoPermissions"]</p>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public string deviceId { get; set; } = "";

    [Parameter]
    public string settingName { get; set; } = "";

    private readonly NLog.Logger Logger = NLog.LogManager.GetCurrentClassLogger();
    private TblDeviceSetting ToDeleteDeviceSetting = new TblDeviceSetting("", "", "");


    protected override async Task OnInitializedAsync()
    {
        var devSetting = await DataHandler.GetDeviceSettingAsync(deviceId, settingName);

        if (devSetting == null)
            return;

        ToDeleteDeviceSetting = devSetting;
    }

    private void CancelDelete()
    {
        Logger.Trace("Cancel clicked.");
        NavigationManager.NavigateTo("/SettingsDevice/" + deviceId);
    }

    private async void ConfirmDelete()
    {
        Logger.Trace("Conform clicked.");
        var toDelete = await DataHandler.GetDeviceSettingAsync(deviceId, settingName);
        if (toDelete != null)
        {
            await DataHandler.RemoveDeviceSettingAsync(deviceId, settingName);
        }

        NavigationManager.NavigateTo("/SettingsDevice/" + deviceId);
    }
}
