@page "/settingsdevice/{id}"
@using LeDi.Server2.Data
@using LeDi.Shared2.DatabaseModel;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inject Microsoft.Extensions.Localization.IStringLocalizer<SettingsDevice> Localizer

<PageTitle>LeDi - @Localizer["DeviceSettings"]</PageTitle>


<h1>@Localizer["DeviceSettings"]</h1>

@if (DeviceSettingList == null || Device == null)
{
    <p><em>@Localizer["LoadingDeviceSettings"]</em></p>
}
else
{
    <AuthorizeView Roles="Att-CanDeviceManage,Att-CanDeviceCommands,Att-IsAdmin">
        <Authorized>
            <AuthorizeView Roles="Att-CanDeviceManage,Att-IsAdmin" Context="y">
                <Authorized>
                    <p>@Localizer["PropertiesSetForDevice"]@Device.DeviceName (@Id):</p>
                    <EditForm Model="@Device" OnValidSubmit="@SaveProperties" Context="x">
                        @*<DataAnnotationsValidator />
                        <ValidationSummary />*@

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Localizer["Property"]</th>
                                    <th>@Localizer["Value"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a>@Localizer["DeviceName"]</a>
                                    </td>
                                    <td>
                                        <InputText type="text" class="form-control" @bind-Value="Device.DeviceName" />                        
                                        @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>@Localizer["DeviceModel"]</a>
                                    </td>
                                    <td>
                                        <InputText type="text" class="form-control" @bind-Value="Device.DeviceModel" />                        
                                        @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>@Localizer["DeviceType"]</a>
                                    </td>
                                    <td>
                                        <InputText type="text" class="form-control" @bind-Value="Device.DeviceType" />                        
                                        @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>@Localizer["Enabled"]</a>
                                    </td>
                                    <td>
                                        <InputCheckbox @bind-Value="Device.Enabled" />                        
                                        @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>@Localizer["Default"]</a>
                                    </td>
                                    <td>
                                        <InputCheckbox @bind-Value="Device.Default" />                        
                                        @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="submit">@Localizer["SaveProperties"]</button>
                    </EditForm>
                </Authorized>
            </AuthorizeView>
            <br /><br />

            <AuthorizeView Roles="Att-CanDeviceManage,Att-IsAdmin" Context="y">
                <Authorized>
                    <p>@Localizer["SettingsConfiguredForDevice"]@Device.DeviceName (@Id):</p>
                    <EditForm Model="@DeviceSettingList" OnValidSubmit="@SaveSettings" Context="x">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Localizer["Setting"]</th>
                                    <th>@Localizer["Value"]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var aSetting in DeviceSettingList)
                                {
                                    <tr>
                                        <td>
                                            <a>@aSetting.SettingName</a>
                                            @*<InputText id="txtSetting@aSetting.Name" type="text" class="form-control" @bind-Value="@aSetting.Name" />*@
                                            @*<ValidationMessage For="@(() => aSetting.Name)" />*@
                                        </td>
                                        <td>
                                            <InputText type="text" class="form-control" @bind-Value="@aSetting.SettingValue" />
                                            @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                                        </td>
                                        <td>
                                            <a href="/SettingsDeviceSettingDelete/@Id/@aSetting.SettingName" class="text-decoration-none">🗑</a>
                                        </td>
                                    </tr>
                                }      
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="submit">@Localizer["SaveSettings"]</button>
                    </EditForm>
                </Authorized>
            </AuthorizeView>
            <br /><br />

            <AuthorizeView Roles="Att-CanDeviceManage,Att-IsAdmin" Context="y">
                <Authorized>
                    <h3>@Localizer["AddNewSetting"]</h3>
                    <EditForm Model="@NewSetting" OnValidSubmit="@SaveNewSetting" Context="x">
                        @*<DataAnnotationsValidator />
                        <ValidationSummary />*@

                        <a>@Localizer["SettingName"]</a>
                        <InputText id="txtNewSettingName" type="text" class="form-control" @bind-Value="@NewSetting.SettingName" />
                        @*<ValidationMessage For="@(() => aSetting.Name)" />*@
                        <br />

                        <a>@Localizer["SettingValue"]</a>
                        <InputText id="txtNewSettingValue" type="text" class="form-control" @bind-Value="@NewSetting.SettingValue" />
                        @*<ValidationMessage For="@(() => aSetting.Value)" />*@
                        <br />
                        <button class="fs-4 btn btn-primary" type="submit">@Localizer["AddSetting"]</button>
                    </EditForm>
                </Authorized>
            </AuthorizeView>
            <br /><br />

            
            <AuthorizeView Roles="Att-CanDeviceCommands,Att-IsAdmin" Context="y">
                <Authorized>
                    <h3>@Localizer["SendCommandDevice"]</h3>
                    <EditForm Model="@selectedDeviceCommand" OnValidSubmit="@ExecuteDeviceCommand" Context="x">
                        <InputSelect @bind-Value="selectedDeviceCommand" class="form-control">
                            <option value="black">@Localizer["ShowBlack"]</option>
                            <option value="ledilogo">@Localizer["ShowLeDiLogo"]</option>
                            <option value="areas">@Localizer["ShowAreas"]</option>
                            <option value="testpattern">@Localizer["ShowTestpattern"]</option>
                            <option value="colortest">@Localizer["ShowColortest"]</option>
                            <option value="fullcolortest">@Localizer["ShowFullcolortest"]</option>
                            <option value="pixelwipe">@Localizer["ShowPixelwipe"]</option>
                            <option value="clock">@Localizer["ShowCurrentTime"]</option>
                            <option value="idlebar">@Localizer["ShowIdlebar"]</option>
                            <option value="calibratefps">@Localizer["CalibrationTest"]</option>
                            <option value="calibratebrightness">@Localizer["BrightnessTest"]</option>
                            <option value="reload">@Localizer["ReloadDisplaySettings"]</option>
                            <option value=""></option>
                            <option value="">@Localizer["DANGERZONE"]</option>
                            <option value="restartsoft">@Localizer["RestartDisplayService"]</option>
                            <option value="restarthard">@Localizer["RestartHardware"]</option>
                            <option value="shutdown">@Localizer["ShutdownHardware"]</option>
                        </InputSelect>
                        <button class="fs-4 btn btn-primary" type="submit">@Localizer["SendCommand"]</button>
                    </EditForm>
                </Authorized>
            </AuthorizeView>
        </Authorized>
        <NotAuthorized>
            <p>@Localizer["NoPermissions"]</p>
        </NotAuthorized>
    </AuthorizeView>
}