@page "/TemplateAdd"
@page "/TemplateAdd/{SelectedTemplateId:int}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<TemplateAdd> Localizer
@inject NavigationManager NavigationManager

<PageTitle>LeDi - @Localizer["TemplateAdd"]</PageTitle>

<AuthorizeView Roles="Att-CanTemplateAdd,Att-CanTemplateEdit,Att-IsAdmin">
    <Authorized>

        <EditForm Model="@Template" OnValidSubmit="@SaveTemplate" Context="x">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <a>@Localizer["TemplateName"]</a>
            <InputText id="txtTemplateName"
                        class="form-control w-auto"
                        type="text"
                        @bind-Value="@Template.TemplateName" />
            <br />
            <a>@Localizer["DefaultPeriodLengthSeconds"]</a>
            <InputNumber id="txtPeriodLength"
                            class="form-control w-auto"
                            type="text"
                            @bind-Value="@Template.PeriodLength" />
            <br />
            <a>@Localizer["DefaultNumberOfPeriods"]</a>
            <InputNumber id="txtPeriodCount"
                            class="form-control w-auto"
                            type="text"
                            @bind-Value="@Template.PeriodCount" />
            <br />
            <a>@Localizer["DefaultHasOvertime"]</a>
            <Checkbox id="chkOvertimeEnabled"
                        class="form-check w-auto"
                      @bind-Value="@Template.HasOvertime" />
            <br />
            <a>@Localizer["DefaultHasExtension"]</a>
            <Checkbox id="chkExtensionEnabled"
                      class="form-check w-auto"
                        @bind-Value="@Template.HasExtension" />
            <br />
            <a>@Localizer["DefaultStopOnBreaksNearEnd"]</a>
            <Checkbox id="chkBreakAtEndEnabled"
                      class="form-check w-auto"
                        @bind-Value="@Template.HasPauseNearEnd" />
            <br />
            <a>@Localizer["DefaultStopOnBreaksNearEndTimeSeconds"]</a>
            <InputNumber id="txtBreakAtEndSeconds"
                            class="form-control w-auto"
                            type="text"
                            @bind-Value="@Template.PauseNearEndSeconds" />
            <br />
            <a>@Localizer["DefaultMaximumPlayersPerTeam"]</a>
            <InputNumber id="txtMaximumPlayers"
                            class="form-control w-auto"
                            type="text"
                            @bind-Value="@Template.MaxNumberOfTeamPlayers" />
            <br />
            <a>@Localizer["DefaultMaximumPlayersPerTeamOnField"]</a>
            <InputNumber id="txtMaximumPlayersOnField"
                            class="form-control w-auto"
                            type="text"
                            @bind-Value="@Template.MaxNumberOfTeamPlayersOnField" />
            <br />

            <button class="fs-4 btn btn-primary" type="submit">@Localizer["Save"]</button>
            <button class="fs-4 btn btn-primary" type="button" @onclick="@DeleteTemplate">@Localizer["Delete"]</button>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <p>@Localizer["NoPermissions"]</p>
    </NotAuthorized>
</AuthorizeView>