@page "/TemplatePenaltyAdd/{SelectedTemplateId:int}"
@page "/TemplatePenaltyAdd/{SelectedTemplateId:int}/{SelectedPenaltyId:int}"
@inject Microsoft.Extensions.Localization.IStringLocalizer<TemplatePenaltyAdd> Localizer
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>LeDi - @Localizer["TemplateAdd"]</PageTitle>

<AuthorizeView Roles="Att-CanTemplateAdd,Att-CanTemplateEdit,Att-IsAdmin">
    <Authorized>

        <EditForm Model="@Template" OnValidSubmit="@SaveTemplatePenalty" Context="x">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <a>@Localizer["PenaltyName"]</a>
            <InputText id="txtPenaltyName"
                       class="form-control w-auto"
                       type="text"
                       @bind-Value="@Penalty.Name" />
            <br />
            <a>@Localizer["PenaltyLengthSeconds"]</a>
            <InputNumber id="txtPenaltyLength"
                         class="form-control w-auto"
                         type="text"
                         @bind-Value="@Penalty.PenaltySeconds" />
            <br />
            <a>@Localizer["PenaltyIsTotalDismissal"]</a>
            <Checkbox id="chkTotalDismisal"
                      class="form-check w-auto"
                      @bind-Value="@Penalty.TotalDismissal" />
            <br />
            <a>@Localizer["RuleNumber"]</a>
            <InputText id="txtRuleNumber"
                       class="form-control w-auto"
                       type="text"
                       @bind-Value="@Penalty.RuleNumber" />
            <br />
            <a>@Localizer["Note"]</a>
            <InputText id="txtNote"
                       class="form-control w-auto"
                       type="text"
                       @bind-Value="@Penalty.Note" />
            <br />
            <a>@Localizer["LocalizedPenaltyDisplayText"]</a>
            <table class="table table-striped table-hover table-responsive-sm">
                <thead>
                    <tr>
                        <th>@Localizer["Language"]</th>
                        <th>@Localizer["Text"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Penalty.Display != null)
                    {
                        @foreach (var aText in Penalty.Display)
                        {
                            <tr>
                                <td>@aText.Language</td>
                                <td>@aText.Text</td>
                                <td>
                                    <Tooltip Title="@Localizer["Delete"]" Placement="Placement.Bottom" @onclick="@(() => DeleteTemplatePenaltyText(aText.Language))">
                                        <a class="fs-4 btn btn-primary m-2" style="width:96px">
                                            <i class="fa-solid fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </Tooltip>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>
                            <h5>@Localizer["NewLanguage"]</h5><InputText id="txtPenaltyTextLanguage"
                                                                  class="form-control w-auto"
                                                                  type="text"
                                                                  @bind-Value="@PenaltyText.Language" />
                        </td>
                        <td>
                            <h5>@Localizer["NewText"]</h5><InputText id="txtPenaltyTextText"
                                                    class="form-control w-auto"
                                                    type="text"
                                                    @bind-Value="@PenaltyText.Text" />
                        </td>
                        <td>
                            <Tooltip Title="@Localizer["Add"]" Placement="Placement.Bottom" @onclick="@(() => AddTemplatePenaltyText())">
                                <a class="fs-4 btn btn-primary m-2" style="width:96px">
                                    <i class="fa-solid fa-plus" aria-hidden="true"></i>
                                </a>
                            </Tooltip>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />

            @if (SelectedPenaltyId != null)
            {
                <AuthorizeView Roles="Att-CanTemplateEdit,Att-IsAdmin" Context="y">
                    <Authorized>
                        <button class="btn btn-primary" type="submit">@Localizer["Save"]</button>
                    </Authorized>
                </AuthorizeView>
            }
            else
            {
                <AuthorizeView Roles="Att-CanTemplateAdd,Att-IsAdmin" Context="y">
                    <Authorized>
                        <button class="btn btn-primary" type="submit">@Localizer["Save"]</button>
                    </Authorized>
                </AuthorizeView>                
            }
            &nbsp;
            <button class="btn btn-secondary" type="button" @onclick="@CancelTemplatePenalty">@Localizer["Cancel"]</button>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <p>@Localizer["NoPermissions"]</p>
    </NotAuthorized>
</AuthorizeView>