@page "/TemplateEditor"
@inject Microsoft.Extensions.Localization.IStringLocalizer<TemplateEditor> Localizer
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>LeDi - @Localizer["TemplateEditor"]</PageTitle>

<AuthorizeView Roles="Att-CanTemplateAdd,Att-CanTemplateEdit,Att-CanTemplateDelete,Att-CanTemplateManage,Att-IsAdmin">
    <Authorized>

        <div class="container-fluid">

            @if (TemplateList == null)
            {
                <p><em>@Localizer["Loading"]</em></p>
            }
            else
            {
                <a href="/templateadd" class="fs-4 btn btn-primary"><i class="fas fa-arrow-right" aria-hidden="true"></i> @Localizer["NewTemplate"]</a>

                <br />
                <br />

                @foreach (var template in TemplateList)
                {
                    <Card>
                        <HeaderTemplate>
                            <h5>@template.TemplateName</h5>
                        </HeaderTemplate>
                        <BodyTemplate>
                            <table class="table table-borderless table-sm">
                                <tbody>
                                    <tr>
                                        <td>
                                            @Localizer["PeriodCount"]
                                        </td>
                                        <td>
                                            @template.PeriodCount
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Localizer["PeriodLength"]
                                        </td>
                                        <td>
                                            @template.PeriodLength
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Localizer["NumberOfPenalties"]
                                        </td>
                                        <td>
                                            @if (@template.PenaltyList == null)
                                            {
                                                <a>0</a>
                                            }
                                            else
                                            {
                                                <a>@template.PenaltyList.Count()</a>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </BodyTemplate>
                        <FooterTemplate>
                            <div class="span">
                                <AuthorizeView Roles="Att-CanTemplateAdd,Att-CanTemplateEdit,Att-IsAdmin" Context="y">
                                    <Authorized>
                                        <Tooltip Title="@Localizer["ManagePenalties"]" Placement="Placement.Bottom" @onclick="@(() => EditTemplatePenalties(template.Id))">
                                            <a class="fs-4 btn btn-primary m-2" style="width:96px">
                                                <i class="fa-solid fa-gavel" aria-hidden="true"></i>
                                            </a>
                                        </Tooltip>
                                    </Authorized>
                                </AuthorizeView>
                                <AuthorizeView Roles="Att-CanTemplateEdit,Att-IsAdmin" Context="y">
                                    <Authorized>
                                        <Tooltip Title="@Localizer["Edit"]" Placement="Placement.Bottom" @onclick="@(() => EditTemplate(template.Id))">
                                            <a class="fs-4 btn btn-primary m-2" style="width:96px">
                                                <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        </Tooltip>
                                    </Authorized>
                                </AuthorizeView>
                                <AuthorizeView Roles="Att-CanTemplateDelete,Att-IsAdmin" Context="y">
                                    <Authorized>
                                        <Tooltip Title="@Localizer["Delete"]" Placement="Placement.Bottom" @onclick="@(() => DeleteTemplate(template.Id))">
                                            <a class="fs-4 btn btn-primary m-2" style="width:96px">
                                                <i class="fa-solid fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </Tooltip>
                                    </Authorized>
                                </AuthorizeView>
                                <AuthorizeView Roles="Att-CanTemplateAdd,Att-CanTemplateEdit,Att-CanTemplateManage,Att-IsAdmin" Context="y">
                                    <Authorized>
                                        <Tooltip Title="@Localizer["Export"]" Placement="Placement.Bottom" @onclick="@(() => ExportTemplate(template.Id))">
                                            <a class="fs-4 btn btn-primary m-2" style="width:96px">
                                                <i class="fa-solid fa-download" aria-hidden="true"></i>
                                            </a>
                                        </Tooltip>
                                    </Authorized>
                                </AuthorizeView>
                            </div>
                        </FooterTemplate>
                    </Card>
                    <br />
                }

                <br />
                <br />
                
                <h3>
                    <i class="fa-solid fa-upload" aria-hidden="true"></i> @Localizer["ImportTemplate"]
                </h3>
                <a>@Localizer["ImportText"]</a><br />
                <InputFile OnChange="@ImportTemplate" multiple />

            }
        </div>


    </Authorized>
    <NotAuthorized>
        <p>@Localizer["NoPermissions"]</p>
    </NotAuthorized>
</AuthorizeView>