@page "/tournamentadd"
@page "/tournamentadd/{EditId:int}"
@using LeDi.Server2.DatabaseModel;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.Extensions.Localization.IStringLocalizer<TournamentAdd> Localizer
@inject NavigationManager NavigationManager

<h3>@Localizer["TournamentAdd"]</h3>


@if (ToSaveTournament == null)
{
    <p><em>@Localizer["Loading"]</em></p>
}
else
{
    <AuthorizeView Roles="Att-CanTournamentAdd,Att-IsAdmin">
        <Authorized>
            <EditForm Model="@ToSaveTournament" OnValidSubmit="@SaveTournament" Context="x">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="table">
                    <div class="row">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["SelectTemplate"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <InputSelect id="cmbTemplate" class="w-auto col-8 form-select" @bind-Value="TemplateId">
                                <option value="-1"> </option>
                                @foreach (var aTemplate in TemplateList)
                                {
                                    <option value="@aTemplate.Id">@aTemplate.TemplateName</option>
                                }
                                <option value="-1">@Localizer["Custom"]</option>
                            </InputSelect>
                        </div>
                    </div>
            
                    <div class="row pt-1">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["TournamentName"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <InputText 
                                id="txtTournamentName"
                                class="form-control w-auto"
                                type="text"
                                @bind-Value="@ToSaveTournament.Name" 
                                />
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-xxl-2 align-self-baseline">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["TournamentStartDate"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <InputDate
                                id="dtTournamentStartDate"
                                class="form-control w-auto"
                                @bind-Value="ToSaveTournament.StartDate" 
                                />
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["TournamentEndDate"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input 
                                id="dtTournamentEndDate"
                                type="date"
                                class="form-control w-auto"
                                @bind-value="ToSaveTournament.EndDate" 
                                />
                            <br />
                        </div>
                    </div>

                    <div class="row pt-1">
                        <div class="col-1">
                            <a id="btnRulesExpand"
                                class="btn btn-outline-dark"
                                style="form-control w-auto"
                                role="button"
                                @onclick="@ExpandRules">
                                <span class="oi @(this.HideRules ? "oi-arrow-circle-bottom" : "oi-arrow-circle-top")" /> @(this.HideRules ? Localizer["ShowRules"] : Localizer["HideRules"])
                            </a>
                            <br />
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@HideRules">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultTeam1"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input 
                                id="txtTeamName1"
                                class="form-control w-auto"
                                type="text"
                               @bind-value="@ToSaveTournament.DefaultTeam1Name"
                                   disabled="@IsTemplateSelected" />
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@HideRules">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultTeam2"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input 
                                id="txtTeamName2"
                                class="form-control w-auto"
                                type="text"
                               @bind-value="@ToSaveTournament.DefaultTeam2Name"
                                   disabled="@IsTemplateSelected" />
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@HideRules">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultNumberPeriods"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input 
                                id="txtPeriodCount"
                                class="form-control w-auto"
                                type="number"
                                min="1"
                               @bind-value="ToSaveTournament.DefaultPeriodCount"
                                   disabled="@IsTemplateSelected" />
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@HideRules">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultLengthPeriod"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <div id="txtPeriodLength" class="input-group">
                                <input 
                                    id="txtPeriodLengthMin"
                                    type="number"
                                    class="form-control w-auto"
                                    style="max-width:100px; min-width:50px"
                                    placeholder="Minutes"
                                    min="0"
                                    max="99999"
                                   @bind-value="PeriodLengthMinutesProxy"
                                       disabled="@IsTemplateSelected" />
                                <span class="input-group-addon mt-1" style="top:0px;">&nbsp;:&nbsp;</span>
                                <input 
                                    id="txtPeriodLengthSec"
                                    type="number"
                                    class="form-control w-auto"
                                    style="max-width:100px; min-width:50px"
                                    placeholder="Seconds"
                                    min="0"
                                    max="59"
                                   @bind-value="PeriodLengthSecondsProxy"
                                       disabled="@IsTemplateSelected" />
                            </div>
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@HideRules">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultMatchOvertime"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input 
                                id="chkPeriodOvertime"
                                class="w-auto"
                                type="checkbox"
                               @bind-value="ToSaveTournament.DefaultRulePeriodOvertime"
                                   disabled="@IsTemplateSelected" />
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@HideRules">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultPauseNearEndAtMatchInterruptions"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input
                                id="chkPeriodPauseNearEnd"
                                class="w-auto"
                                type="checkbox"
                               @bind-value="ToSaveTournament.DefaultRulePeriodLastPauseTimeOnEvent"
                                   disabled="@IsTemplateSelected" />
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@(ToSaveTournament.DefaultRulePeriodLastPauseTimeOnEvent == false || HideRules)">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultPauseNearEndAtMatchInterruptionsSeconds"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input 
                                id="txtPeriodPauseNearEndSec"
                                class="form-control w-auto"
                                min="1"
                                type="number"
                                @bind-value="@ToSaveTournament.DefaultRulePeriodLastPauseTimeOnEventSeconds"
                                disabled="@IsTemplateSelected" 
                                />
                        </div>
                    </div>

                    <div class="row pt-1" hidden="@HideRules">
                        <div class="col-xxl-2">
                            <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultExtendMatch"]</a>
                        </div>
                        <div class="col-xxl-auto">
                            <input
                                id="chkMatchExtensionOnDraw"
                                class="w-auto"
                                type="checkbox"
                                @bind-value="ToSaveTournament.DefaultRuleMatchExtensionOnDraw" 
                                disabled="@IsTemplateSelected"
                                />
                        </div>
                    </div>

                    @*Show displaylist only if there are displays available*@
                    @if (DisplayList != null && DisplayList.Count > 0)
                    {
                        <div class="row pt-1">
                            <div class="col-xxl-2">
                                <a class="d-inline-block text-decoration-none text-break">@Localizer["DefaultDisplay"]</a>
                            </div>
                            <div class="col-xxl-auto">
                                <br />
                                @foreach (var aDisplay in DisplayList)
                                {
                                    var value = aDisplay;
                                    <input 
                                        type="checkbox" 
                                        checked="@aDisplay.Enabled" 
                                        @onchange="eventArgs => {DisplayClicked(value,(bool)(eventArgs.Value ?? false));}"
                                        > @aDisplay.DeviceName
                                }
                            </div>
                        </div>
                    }
                </div>
                <br />

                <button class="fs-4 btn btn-primary" type="submit">@Localizer["Save"]</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <p>@Localizer["NoPermissions"]</p>
        </NotAuthorized>
    </AuthorizeView>
}