@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LeDi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="oi oi-clipboard" aria-hidden="true"></span> @Localizer["Dashboard"]
            </NavLink>
        </div> 
        
        @*For icons see https://useiconic.com/open*@
        @*or https://icon-sets.iconify.design/oi/*@
        @*<AuthorizeView>
            <Authorized>*@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="start">
                <span class="oi oi-badge" aria-hidden="true"></span> @Localizer["Start"]
                    </NavLink>
                </div> 
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="matchcontrol">
                <span class="oi oi-target" aria-hidden="true"></span> @Localizer["RefereeMatch"]
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="matchplanning">
                <span class="oi oi-calendar" aria-hidden="true"></span> @Localizer["MatchPlanning"]
                    </NavLink>
                </div>@*
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="devicepages">
                <span class="oi oi-text" aria-hidden="true"></span> @Localizer["Devices"]
                    </NavLink>
                </div>*@
              @*  <div class="nav-item px-3">
                    <NavLink class="nav-link" href="matchsummary">
                        <span class="oi oi-list" aria-hidden="true"></span> Match Summary
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="matchplayers">
                        <span class="oi oi-people" aria-hidden="true"></span> Playerlist
                    </NavLink>
                </div>      *@  
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="settings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["Settings"]
                    </NavLink>
                </div>
        @*    </Authorized>
        </AuthorizeView>*@
        
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="userlogin">
                <span class="oi oi-key" aria-hidden="true"></span> Login
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> @Localizer["AboutLedi"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
