@inject Microsoft.Extensions.Localization.IStringLocalizer<NavMenu> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LeDi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> @Localizer["Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="dashboard">
                <span class="oi oi-clipboard" aria-hidden="true"></span> @Localizer["Dashboard"]
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="results">
                <span class="oi oi-xxx" aria-hidden="true"></span> @Localizer["Results"]
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                <NavLink class="nav-link px-3" href="start">
                        <span class="oi oi-badge" aria-hidden="true"></span> @Localizer["Start"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Att-CanMatchAdd,Att-IsAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link px-3" href="matchplanning">
                        <span class="oi oi-calendar" aria-hidden="true"></span> @Localizer["MatchPlanning"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Att-CanTournamentAdd,Att-CanTournamentEdit,Att-CanTournamentMatchAdd,Att-CanTournamentMatchEdit,Att-CanTournamentMatchDelete,Att-IsAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link px-3" href="tournamentplanning">
                        <span class="oi oi-calendar" aria-hidden="true"></span> @Localizer["Tournaments"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        @*
        *@
        @*  <div class="nav-item px-3">
        <NavLink class="nav-link px-3" href="matchsummary">
                <span class="oi oi-list" aria-hidden="true"></span> Match Summary
            </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link px-3" href="matchplayers">
                <span class="oi oi-people" aria-hidden="true"></span> Playerlist
            </NavLink>
        </div>      *@  
                
        <AuthorizeView Roles="Att-CanSettingsManage,Att-IsAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link px-3" href="settings">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @Localizer["Settings"]
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        
        <div class="nav-item px-3 p-0" style="margin-top:-20px; margin-bottom:-10px">
            <AuthorizeView Roles="Att-CanUserAdd,Att-CanUserEdit,Att-CanUserDelete,Att-CanUserPasswordEdit,Att-IsAdmin">
                <Authorized>
                <div class="nav-item px-3">
                        <NavLink class="nav-link px-3" href="usermanage">
                            <span class="oi oi-people" aria-hidden="true"></span> @Localizer["UserManagement"]
                        </NavLink>
                </div>
                </Authorized>
            </AuthorizeView>
        
            <AuthorizeView Roles="Att-CanRoleAdd,Att-CanRoleEdit,Att-CanRoleDelete,Att-IsAdmin">
                <Authorized>
                <div class="nav-item px-3">
                        <NavLink class="nav-link px-3" href="userrole">
                            <span class="oi oi-key" aria-hidden="true"></span> @Localizer["UserRole"]
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Att-CanTemplateAdd,Att-CanTemplateEdit,Att-CanTemplateDelete,Att-CanTemplateManage,Att-IsAdmin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link px-3" href="templateeditor">
                            <span class="oi oi-key" aria-hidden="true"></span> @Localizer["TemplateEditor"]
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            
            <AuthorizeView Roles="Att-CanSettingsManage,Att-IsAdmin">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link px-3" href="devicepages">
                            <span class="oi oi-text" aria-hidden="true"></span> @Localizer["Devices"]
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> @Localizer["AboutLedi"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
